body {
  margin: 0;
  height: 100vh;
  font-family: 'Bangers', cursive;
  color: black;
background-color: beige;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container
{
  display: flex;
}

.text-content
{
  font-family: 'Courier New' !important;
}